@import url("fonts.css");
@import "~bootstrap/dist/css/bootstrap.min.css";
:root {
  --p-d: 25px 17%;
  --p-m: 15px 10%;
  --biscuit: #c0a991;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* font-family: "Altivo"; */
}

button {
  border: none;
  outline: none !important;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  /* min-height: 200vh; */
  position: relative;
  background-color: rgb(10, 10, 10);
  color: white;
  font-family: "Altivo";
  webkit-font-smoothing: antialiased;
  font-smooth: always;
}
hr {
  opacity: 0.15;
}
.hero-section {
  /* position: relative; */
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url("/images/Background.png");
  background-size: 100% 100%;
  min-height: 380px;
}

/* Header styles */
.navbar-desktop {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 75px;

  /* padding: var(--p-d); */
  backdrop-filter: blur(7px);
  width: 100%;
}
.navbar-mobile {
  /* display: flex; */
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 75px;

  /* padding: var(--p-d); */
  backdrop-filter: blur(5px);
  width: 100%;
  display: none;
}
.links-wrapper {
  display: flex;
  height: 50px;

  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid rgb(39, 39, 39);
  min-width: max(700px, 60%);
}
.links-wrapper-2 {
  display: flex;
  height: 25px;

  justify-content: flex-end;
  align-items: center;

  min-width: max(700px, 60%);
}
.links-wrapper-2 .link {
  font-size: 9px;
  text-decoration: none;
  color: rgba(194, 194, 194, 0.959);
  font-weight: 300;
  margin-right: 20px;
}
.accordion-group {
  position: relative;
  margin: 0 10px;
}
.accordion-group .nav-link {
  /* position: absolute; */
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  padding: 7px 5px;
  display: flex;
  align-items: center;
  text-wrap: nowrap;
}
.accordion-group .nav-link .arrow {
  margin-left: 5px;
  pointer-events: none;
}
.accordion-group .menu {
  position: absolute;
  text-transform: uppercase;
  /* font-weight: 800; */
  /* border: 1px solid rgb(39, 39, 39); */
  border-radius: 6px;
  /* padding: 5px; */
  background-color: rgb(19, 19, 19);
  width: 100%;
  overflow: hidden;
  max-height: 400%;
  transition: 0.2s max-height ease;
}
.accordion-group.close .menu {
  max-height: 0;
}
.accordion-group .menu button {
  background-color: transparent;
  color: rgb(235, 235, 235);
  border: none;
  outline: none !important;
  font-weight: 200;
  padding: 7px 10px;
  text-align: center;
  width: 100%;
  font-size: 10px;
}
.sign-in-btn {
  background-color: transparent;
  text-transform: uppercase;
  color: white;
  padding: 5px 15px;
  border: 1px solid rgb(214, 214, 214);
  border-radius: 25px;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  text-wrap: nowrap;
}
.sign-in-btn .icon {
  margin-right: 8px;
}
/* Header styles */

/* Banner styles */
.banner-section {
  min-height: 250px;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner-section h1 {
  font-size: 27px;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: rgb(241, 241, 241);
}
.banner-section p {
  color: rgb(204, 204, 204);
  font-weight: 200;
  font-size: 13px;
}
/* Banner styles */

/* Subscription styles */
.subscription {
  background-color: rgb(24, 24, 24);
  /* height: 100vh; */
  padding: 9% 17%;
}
.subscription .grid-container {
  width: 100%;
  background-color: transparent;
  color: white;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  /* grid-template-rows: repeat(5, 1fr); */
  /* grid-auto-rows: minmax(100px, auto); */
  gap: 15px;
}
.subscription .grid-container .grid-item {
  /* padding: 10px; */
  /* border: 1px solid red; */
}
.subscription .grid-container .item-1 {
  grid-column: 1 / 4;
  grid-row: 1 / 3;
  border-bottom: 1px solid rgb(58, 58, 58);
}

.subscription .grid-container .item-2 {
  grid-column: 1 / 4;
  grid-row: 3 / 6;
}
.subscription .grid-container .item-3 {
  grid-column: 4 / 8;
  grid-row: 1 / 6;
}
.stars-wrapper {
  min-height: 30px;
  padding: 5px;
  display: flex;
  align-items: flex-end;
}
.subscription .grid-container .item-1 h3 {
  font-size: 18px;
  font-weight: 400;
  margin-top: 10px;
}

.subscription .grid-container .item-1 p {
  font-size: 13px;
  color: rgb(179, 179, 179);
  font-weight: 200;
  letter-spacing: 1px;
  margin-bottom: 0 !important;
}
.subscription .grid-container .item-2 h4 {
  font-size: 15px;
  font-weight: 400;
  margin-top: 10px;
  color: #ffffffe8;
}
.subscription .grid-container .item-2 .list {
  list-style-type: none;
  padding: 5px 0;
}
.subscription .grid-container .item-2 .list .list-item {
  display: flex;
  align-items: center;
  position: relative;
  padding-bottom: 5px;
}
.subscription .grid-container .item-2 .list .list-item .number {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  /* height: 30px;
  width: 30px; */
  border: 1px solid #b49471;
  border-radius: 50%;
  font-size: 10px;
  padding: 2px 6px 2px 6px;
  color: #b49471;
  background-color: #181818;
  z-index: 1;
}
.subscription .grid-container .item-2 .list .list-item .line {
  border: 0.5px solid #4d4844;
  position: absolute;
  height: 70%;
  top: 20px;
  left: 9px;
  z-index: 0;
}
.subscription .grid-container .item-2 .list .list-item .text {
  margin: 0;
  margin-left: 12px;
  font-size: 13px;
  font-weight: 300;
  color: rgb(155, 155, 155);
  line-height: 1.2rem;
}
.subscription .grid-container .item-2 .buttons-container {
  display: flex;
  align-items: center;
}
.subscription .grid-container .item-2 .buttons-container button {
  color: white;
  background-color: transparent;
  border: none;
  outline: none !important;
  padding: 8px 24px 7px 24px;
  margin-right: 20px;
  background-color: #d00f2c;
  font-size: 11px;
  font-weight: 300;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.subscription .grid-container .item-2 .buttons-container button .icon {
  margin: 0 0 2px 5px;
}
.subscription .grid-container .item-2 .buttons-container a {
  color: white;
  text-decoration: underline;
  font-size: 11px;
  font-weight: 100;
  letter-spacing: 1px;
}
.subscription .grid-container .item-3 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  /* grid-template-rows: repeat(2, 1fr); */
  /* flex-wrap: wrap; */
  gap: 10px;
}
.subscription-card {
  /* flex-grow: 1; */
  background-color: #0f0f0f;
  color: white;
  padding: 15px;
  border-radius: 10px;
  /* max-width: fit-content; */
  grid-column: span 4;
}
.subscription-card h3 {
  font-size: 13px;
  font-weight: 400;
  color: var(--biscuit);
  line-height: 1.2em;
  margin-bottom: 6px;
  margin-top: 15px;
}
.subscription-card p {
  font-size: 11px;
  font-weight: 200;
  color: #ffffff7e;
  line-height: 1.4em;
  margin-bottom: 0;
}
.subscription .grid-container .end-text-benifits {
  font-size: 10px;
  font-weight: 200;
  color: #777775;
  margin: 10px 20px;
  grid-column: span 12;
}
.subscription .grid-container .end-text-benifits p {
  margin-bottom: 7px;
}
/* Subscription styles end*/

/* Faq styles */
.faq-bg {
  padding: 9% 17%;
  background-color: transparent;
}
.faq-bg h1 {
  font-size: 23px;
  font-weight: 400;
  padding-bottom: 8px;
}
.separator-faqs {
  width: 100%;
  height: 1px;
  background-color: #ffffff2a;
}
.faqs-list {
  list-style-type: none;
  padding: 0;
}
.faqs-list .faq-list-item {
  margin: 0;
  padding: 10px;
  position: relative;
}
.faqs-list .faq-list-item .arrow {
  position: absolute;
  top: 17px;
  left: 10px;
  transform: rotate(360deg);
  transition: 0.3s all ease;
}
.faqs-list .faq-list-item .arrow.rotate {
  transform-origin: center;
  transform: rotate(270deg);
}
.faq-list-item .question {
  margin: 0;
  padding: 5px 0;
  font-size: 14px;
  font-weight: 300;
  padding-left: 35px;
  cursor: pointer;
  color: #ffffffe7;
}
.faq-list-item .answer {
  margin: 0;
  /* padding: 5px 0; */
  font-size: 14px;
  font-weight: 200;
  color: #ffffff9d;
  padding-left: 35px;
  max-height: 0;
  overflow: hidden;
  transition: 0.3s all ease;
}
.faq-list-item .answer.expand {
  max-height: 300px;
}
/* Faq styles end*/

/* Footer Styles */
.mobile-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(7px);
  z-index: 10;
}
.mobile-footer .link {
  background-color: #cf102d;
  border: none;
  outline: none !important;
  border-radius: 10px;
  padding: 10px 15px;
  color: white;
  font-size: 12px;
  width: min(100%, 500px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.mobile-footer .link .forward {
  margin-left: 5px;
}
.mobile-footer p {
  font-size: 11px;
  font-weight: 200;
  color: #ffffff8a;
  margin-top: 7px;
  padding-inline: 15px;
}
/* Footer Styles end*/

/* Selection page styles  */

.selection-bg {
  min-height: 100svh;
  background-color: rgb(20, 20, 20);
}
.selection-content {
  height: 100%;
  width: 100%;
  padding: 100px 10% 100px 10%;
}
.selection-content .section1 {
  height: 100%;
  /* width: min(80%, 200px); */
  /* border: 1px solid red; */
  display: flex;
  justify-content: flex-end;
  padding: 1rem 2rem;
}
.steps-column-1 {
  width: min(80%, 350px);
}
.steps-column-1 h2 {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.89);
  font-weight: 400;
}
.steps-column-1 p {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.438);
  font-weight: 300;
}
.selection-content .section2 {
  height: 100%;
  /* width: min(80%, 200px); */
  /* border: 1px solid red; */
  display: flex;
  justify-content: flex-start;
  padding: 0rem 2rem;
}
.steps-column-2 {
  width: min(80%, 390px);
  background-color: transparent;
}
.black-form {
  /* padding: 30px 40px; */
  border-radius: 15px;
  background-color: rgb(12, 12, 12);
}
.black-form.action1 .step-text {
  color: #c0a991;
  font-weight: 400;
  font-size: 13px;
  padding-top: 33px;
  margin: 3px 50px;
}
.black-form.action1 .text-1 {
  color: #ffffffda;
  font-weight: 300;
  font-size: 14px;
  margin: 3px 50px;
}
.black-form.action1 .search-input {
  position: relative;
  /* width: 100%; */
  background-color: white;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-top: 25px;
  margin-inline: 50px;
}
.black-form.action1 .results-list {
  min-height: 190px;
  max-height: 200px;
  overflow: auto;
  /* width: 100%; */
  /* background-color: #0f0f0f; */
  display: flex;
  flex-direction: column;
  margin: 15px 50px;
}
.black-form.action1 .results-list::-webkit-scrollbar {
  display: none;
}
.black-form.action1 .results-list .item {
  color: rgba(255, 255, 255, 0.842);
  font-size: 14px;
  padding: 10px 15px 0 15px;
  font-weight: 300;
  margin: 0;
  cursor: pointer;
}
.black-form.action1 .search-input input {
  background-color: transparent;
  width: 100%;
  font-size: 14px;
  padding: 6px 15px;
  padding-bottom: 7px;
  padding-left: 35px;
  border: none;
  outline: none !important;
}
.black-form.action1 .search-input .icon {
  position: absolute;
  left: 10px;
  top: 30%;
}
.black-form.action1 .buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  background-color: rgb(20, 20, 20);
}
.black-form.action1 .buttons-container .back {
  color: rgba(255, 255, 255, 0.911);
  background-color: transparent;
  text-decoration: underline;
  font-size: 14px;
  font-weight: 300;
  margin-right: 60px;
  padding: 10px;
  text-align: center;
}
.black-form.action1 .buttons-container .save {
  color: rgba(255, 255, 255, 0.911);
  background-color: #ce102c;
  font-size: 14px;
  font-weight: 300;
  padding: 10px 35px;
  text-align: center;
  border-radius: 9px;
}
.black-form.action1 .buttons-container .save:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.black-form.action1 .plans {
  padding: 40px 50px 80px 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.black-form.action1 .plans .plan-item {
  display: flex;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.171);
  border-radius: 8px;
  padding: 15px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.black-form.action1 .plans .plan-item.selected {
  background-color: #c0a99127;
  border: 1px solid #c0a991;
}
.black-form.action1 .plans .plan-item .label {
  font-size: 9px;
  font-weight: 500;
  color: black;
  background-color: rgb(53, 53, 53);
  padding: 1px 7px;
  position: absolute;
  top: -7px;
  z-index: 2;
  border-radius: 10px;
}
.black-form.action1 .plans .plan-item .label.selected {
  color: black;
  background-color: #c0a991;
}
.black-form.action1 .plans .plan-item .icon {
  margin-right: 15px;
  margin-bottom: 5px;
}
.black-form.action1 .plans .plan-item .circle {
  width: 20px;
  height: 20px;
  border: 1px solid rgba(255, 255, 255, 0.171);
  border-radius: 50%;
  margin-right: 15px;
  margin-bottom: 5px;
}
.black-form.action1 .plans .plan-item .details .name {
  font-size: 14px;
  font-weight: 400;
  color: white;
  margin: 0;
}
.black-form.action1 .plans .plan-item .details .price {
  font-size: 12px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.842);
  margin: 0;
}
.black-form.action1 .plans .plan-item .details .price span {
  font-size: 10px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.377);
}
.black-form.action1 .plans .plan-item .details .description {
  font-size: 10px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.329);
  margin: 0;
}
.black-form.action3 {
  padding: 40px 50px;
  margin-bottom: 20px;
  position: relative;
}
.black-form.action3 .login-text-1 {
  font-size: 15px;
  font-weight: 400;
  margin: 0;
}
.black-form.action3 .login-text-2 {
  font-size: 11px;
  font-weight: 200;
  color: #ffffff71;
  margin: 3px 0;
  margin-bottom: 20px;
}
.black-form.action3 label {
  font-size: 10px;
  font-weight: 200;
  color: #ffffff71;
  margin-bottom: 1px;
}
.black-form.action3 input {
  font-size: 11px;
  font-weight: 200;
  background-color: rgba(255, 255, 255, 0.034);
  border: 1px solid rgba(255, 255, 255, 0.137);
  width: 100%;
  padding: 7px 15px;
  color: white;
  border-radius: 4px;
  outline: none;
  margin-bottom: 8px;
  letter-spacing: 1px;
}
.black-form.action3 .login-btn {
  margin: 30px 0;
  background-color: #ce102c;
  color: rgba(255, 255, 255, 0.822);
  font-size: 12px;
  font-weight: 300;
  width: 100%;
  padding: 7px;
  border-radius: 5px;
  margin-bottom: 20px;
  cursor: pointer;
}
.black-form.action3 .login-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.black-form.action3 .signup-text {
  font-size: 12px;
  font-weight: 200;
  color: #ffffff93;
  margin: 0;
  text-align: center;
  display: flex;
  align-items: flex-start;
}
.black-form.action3 .signup-text p {
  margin: 0;
  text-align: left;
}
.card-icon {
  background-color: transparent;
  margin: 0 10px 3px 0;
}
.black-form.action3 .signup-text .box {
  display: inline;
  width: 18px;
  height: 18px;
  margin: 1px;
  margin-right: 15px !important;
}
.black-form.action3 .login-error {
  font-size: 13px;
  font-weight: 300;
  color: #e61414;
  margin: 0;
  margin-top: 8px;
  text-align: center;
}
.black-form.action3 .signup-text span {
  color: #c0a991;
  text-decoration: underline;
  margin-left: 4px;
}
.final-text-billing {
  position: absolute;
  width: 100%;
  bottom: -25px;
  left: 0;
  font-size: 9px;
  color: rgba(255, 255, 255, 0.671);
  font-weight: 200;
  display: flex;
  background-color: #222222;
  padding: 10px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}
.final-text-billing .icon {
  margin: 6px;
}

.checkout-bill-container .menu {
  font-size: 9px;
  margin: 50px 0 0 0;
  color: #c0c0c0;
}
.checkout-bill-container .detail-1 {
  display: flex;
  justify-content: space-between;
}
.checkout-bill-container .detail-1 p {
  font-size: 12px;
  color: #ffffffa6;
  margin-bottom: 8px;
}
.checkout-bill-container .detail-2 {
  display: flex;
  justify-content: space-between;
}
.checkout-bill-container .detail-2 p {
  font-size: 12px;
  color: #ffffffa6;
  margin-bottom: 0;
}
.checkout-bill-container .small-text {
  font-size: 10px;
  color: #ffffff69;
  margin-bottom: 20px;
}
.checkout-bill-container .total {
  font-size: 12px;
  color: #ffffffd3;
  display: flex;
  justify-content: space-between;
}

.checkout-bill-container .steps-list-container {
  /* border: 1px solid green; */
}

.steps-list-container .step-item {
  display: flex;
  align-items: flex-start;
  margin: 20px 0;
  position: relative;
}
.steps-list-container .step-item .circle {
  background-color: transparent;
  border: 2px solid #ffffff44;
  shape-rendering: crispEdges;
  color: #ffffffe3;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px 0 0 5px;
  background-color: rgb(20, 20, 20);
  position: relative;
  z-index: 1;
}
.steps-list-container .step-item .connecting-line {
  position: absolute;
  top: 25px;
  left: 8px;
  height: 40px;
  width: 10px;
  z-index: 0;
  /* background-color: #ffffff44; */
  border-right: 2px dashed rgba(255, 255, 255, 0.199);
}
.steps-list-container .step-item .connecting-line.completed {
  border-right: 2px solid rgba(255, 255, 255, 0.836);
}

.steps-list-container .step-item .circle.active,
.steps-list-container .step-item .circle.completed {
  border: 2px solid #ffffffe3;
}
.steps-list-container .step-item .circle .completed-tick {
  height: 10px;
  width: 10px;
}
.steps-list-container .step-item .circle .filled-circle {
  height: 10px;
  width: 10px;
  background-color: #ffffffe3;
  border-radius: 50%;
}
.steps-list-container .step-item .text-container {
  margin-left: 25px;
}
.steps-list-container .step-item .text-container p {
  margin: 0;
  padding: 0;
}
.steps-list-container .step-item .text-container p.title {
  color: #ffffff6c;
  font-weight: 400;
  font-size: 10px;
  text-transform: uppercase;
}
.steps-list-container .step-item .text-container p.value {
  color: #ffffff6c;
  font-weight: 300;
  font-size: 15px;
}

.confirmation-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10% 10%;
  gap: 10%;
}
.confirmation-bg .left-half {
  /* border: 1px solid red; */
  border-radius: 18px;
  overflow: hidden;
  width: 360px;
  background-color: #0f0f0f;
  margin-bottom: 30px;
  /* flex-grow: 1; */
}
.confirmation-bg .right-half {
  /* border: 1px solid green; */
  width: 320px;

  /* flex-grow: 1; */
}
.confirmation-bg .left-half .details-1 {
  padding: 17px;
}
.confirmation-bg .left-half .details-1 h2 {
  font-size: 18px;
  font-weight: 400;
}
.dotted-line {
  border-top: 1px dashed #c0c0c0;
  border-width: 2px;
  /* background-size: 3px 1px; */
}
.confirmation-bg .left-half .details-1 .icons {
  margin-right: 10px;
  color: #ffffff;
}

.confirmation-bg .left-half .details-1 .billing-cycle {
  font-size: 12px;
  font-weight: 300;
  color: #ffffffbb;
  margin: 6px 0;
}
.confirmation-bg .left-half .details-1 .billing-cycle svg {
  height: 15px;
  width: 15px;
}
.confirmation-bg .left-half .details-1 .email-mmr {
  color: #9e9e9e;
}
.confirmation-bg .left-half .details-1 .email-mmr .label {
  margin: 0;
  color: #9e9e9e;
  font-size: 11px;
}
.confirmation-bg .left-half .details-1 .email-mmr .text {
  color: #bebebe;
  font-size: 13px;
}
.confirmation-bg .left-half .footer-text {
  background-color: #1d1d1d;
  padding: 11px 15px;
  font-size: 11px;
  font-weight: 300;
  color: #ffffff69;
  display: flex;
  align-items: center;
}
.confirmation-bg .left-half .footer-text .icon {
  margin-right: 10px;
}
.confirmation-bg .right-half .payment-details .icon-1 {
  margin-top: 4px;
  margin-right: 10px;
}
.confirmation-bg .right-half .payment-details .heading {
  font-size: 15px;
  font-weight: 400;
  margin: 0;
}
.confirmation-bg .right-half .payment-details .orderid {
  font-size: 13px;
  font-weight: 300;
  color: #ffffff9f;
  margin-bottom: 25px;
}
.checkout-bill-container-2 .menu {
  font-size: 9px;
  margin: 10px 0 0 0;
  color: #c0c0c0;
}
.checkout-bill-container-2 .detail-1 {
  display: flex;
  justify-content: space-between;
}
.checkout-bill-container-2 .detail-1 p {
  font-size: 12px;
  color: #ffffffa6;
  margin-bottom: 8px;
}
.checkout-bill-container-2 .detail-2 {
  display: flex;
  justify-content: space-between;
}
.checkout-bill-container-2 .detail-2 p {
  font-size: 12px;
  color: #ffffffa6;
  margin-bottom: 0;
}
.checkout-bill-container-2 .small-text {
  font-size: 10px;
  color: #ffffff69;
  margin-bottom: 20px;
}
.checkout-bill-container-2 .total {
  font-size: 12px;
  color: #ffffffd3;
  display: flex;
  justify-content: space-between;
}
.confirmation-bg .right-half .payment-summary {
  background-color: #070707;
  border-radius: 12px;
}
.confirmation-bg .right-half .payment-summary h3 {
  font-size: 14px;
  font-weight: 400;
  color: #ffffffb4;
  margin-bottom: 15px;
}
.confirmation-bg .right-half .payment-summary .label {
  font-size: 14px;
  font-weight: 300;
  color: #ffffff6b;
  margin-bottom: 0;
}
.confirmation-bg .right-half .payment-summary .card-number {
  font-size: 16px;
  font-weight: 300;
  color: #ffffffb4;
  margin-bottom: 0;
  margin-bottom: 0;
}
.confirmation-bg .right-half .payment-summary .cost {
  font-size: 16px;
  font-weight: 300;
  color: #ffffffb4;
  margin-bottom: 0;
  margin-bottom: 0;
}
.confirmation-bg .right-half .home-link {
  width: 100%;
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.904);
  font-weight: 400;
  padding: 10px;
  border-radius: 8px;
  background-color: #ce102c;
  margin: 35px 0 50px 0;
}

/* Selection page styles  end*/

/* Responsive styles */

@media screen and (max-width: 900px) {
  .subscription-card {
    grid-column: span 6;
  }
}

@media screen and (max-width: 768px) {
  .navbar-desktop {
    /* padding: var(--p-m); */
    display: none;
  }
  .mobile-footer {
    display: flex;
  }
  .navbar-mobile {
    /* padding: var(--p-m); */
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    /* border: 1px solid red; */
    padding: 0 15px;
  }
  .navbar-mobile .home-btn {
    background-color: transparent;
    outline: none !important;
    border: none;
  }
  .links-wrapper {
    min-width: unset;
    border: none;
  }
  .hero-section {
    min-height: 230px;
  }
  .banner-section h1 {
    font-size: 12px;
    text-align: center;
    font-weight: 400;
    letter-spacing: 6px;
  }
  .banner-section p {
    font-size: 10px;
  }
  .subscription {
    padding: 6% 7%;
  }
  .faq-bg {
    padding: 6% 7%;
    margin-bottom: 150px;
  }
  .subscription-card {
    /* flex-grow: 1 !important;
    width: auto; */
  }
  .subscription .grid-container .end-text-benifits {
    margin: 10px 0px;
  }
  .subscription .grid-container .item-2 h4 {
    font-weight: 300;
  }

  .subscription .grid-container .item-1 {
    grid-column: 1 / 8;
    grid-row: 1 / 2;
    border: none;
  }

  .subscription .grid-container .item-2 {
    grid-column: 1 / 8;
    grid-row: 3 / 4;
  }
  .subscription .grid-container .item-3 {
    grid-column: 1 / 8;
    grid-row: 2 / 3;
  }
  .subscription .grid-container .item-2 .list .list-item .text {
    margin: 10px 0;
    margin-left: 20px;
  }
  .subscription .grid-container .item-2 .list .list-item .line {
    height: 110%;
  }

  .faq-list-item {
    padding: 7px;
  }
  .faq-list-item .question {
    max-height: 3em;
    overflow: hidden;
    /* white-space: nowrap; */
    padding: 0 0 10px 30px;
    margin-bottom: 7px;
    text-overflow: ellipsis;
  }
  .confirmation-bg {
    flex-direction: column;
  }
}
